/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env

# Created by https://www.gitignore.io/api/netbeans,visualstudiocode

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json